<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>

        <link rel="stylesheet" href="/static/design.css">
    </head>
    <body>
        <div class="container">
            <h1>Todo List</h1>

            <form action="/add" method="post" class="add-form">
                <input type="text" name="title" placeholder="Enter task..." required>
                <button type="submit">
                    Add
                </button>
            </form>
            <ul class="todo-list">
                <li class="{% if task.completed %}completed{% endif %}">
                    <span>{{task.title}}</span>
                    <div class="actions">
                        <form action="/toggle/{{task.id}}" method="post">
                            <button type="submit">
                                {% if task.completed %}
                                    Undo
                                {% else %}
                                    completed
                                {% endif }
                            </button>
                        </form>
                        <form action="/delete//{{task.id}}" method="post">
                            <button type="submit" class="deleteBtn">
                                Delete
                            </button>
                       </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <script src="/static/design.js"></script>

    </body>
</html>