<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <h1>My Todo List</h1>

        <form id="taskForm">
            <input
                type="text"
                id="taskInput"
                placeholder="Enter a task..."
                required
            >

            <button type="submit">
                Add Task
            </button>
        </form>

        <ul id="taskList"></ul>
    </div>

    <div id="loginScreen">
        <h2>Login</h2>

        <input 
        type="text"
        id="username"
        placeholder="Username">

        <input
        type="password"
        id="password"
        placeholder="Password">

        <button id="loginBtn">
            Login
        </button>
    </div>

    <script src="/static/app.js"></script>

</body>
</html>