body{
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
}

ul{
    padding: 0;
}

li {
    list-style: none;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color:gray;
}

button{
    margin-left: 5px;
}